@import "tailwindcss";

@theme {
  /* --- CONFIGURATION ARRONDI --- */
  --radius-xl: 0.75rem;
  --radius-lg: 0.5rem;
  --radius-md: 0.25rem;

  /* --- COULEURS DE TES MAQUETTES (Format CSS natif pour Tailwind v4) --- */
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(222.2 84% 4.9%);

  /* Ton bleu royal #0B45D2 officiel */
  --color-primary: hsl(222 89% 44%); 
  --color-primary-foreground: hsl(210 40% 98%);

  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(222.2 84% 4.9%);

  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(222.2 84% 4.9%);

  --color-secondary: hsl(210 40% 96.1%);
  --color-secondary-foreground: hsl(222.2 84% 4.7%);

  --color-muted: hsl(210 40% 96.1%);
  --color-muted-foreground: hsl(215.4 16.3% 46.9%);

  --color-accent: hsl(210 40% 96.1%);
  --color-accent-foreground: hsl(222.2 84% 4.7%);

  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(210 40% 98%);

  --color-border: hsl(214.3 32% 91.4%);
  --color-input: hsl(214.3 32% 91.4%);
  --color-ring: hsl(222.1 92.6% 51.9%);
}

/* Compatibilité pour les composants de l'écosystème Radix / Shadcn */
@layer base {
  *, ::after, ::before {
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

